<!doctype html>
<html>
<head>
<title>Hello Angular</title>
<base href="/" />
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>

<body ng-app="hello"  ng-cloak class="ng-cloak" ng-class="{'debug-sref': debug.uisref, 'debug-view': debug.uiview}">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class= "navbar-header">
				<button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="btn btn-navbar">
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				</button>
				<a class="brand" href="#"><img src="http://placehold.it/150x50&text=Logo" alt=""></a>
			</div>
			<div collapse="navCollapsed" class="nav-collapse collapse navbar-responsive-collapse">
			   <ul class="nav">
			     <li><a ui-sref="home" ui-sref-active="active">Acceuil</a></li>
			     <li><a ui-sref="message" ui-sref-active="active">Editeur</a></li>
			     <li class="dropdown">
			       <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jouer<b class="caret"></b></a>
			       <ul class="dropdown-menu">
			         <li><a href="#">Creer une partie</a></li>
			         <li><a href="#">Rejoindre une novuelle partie</a></li>
			         <li><a href="#">Rejoindre une partie en cours</a></li>
			       </ul>
			     </li>
			   </ul>
			   <ul class="nav pull-right">
			     <li><a ui-sref="navigate" ui-sref-active="active">Login</a></li>
			     <li><a href="" >Logout</a></li>
			   </ul>
			</div><!-- /.nav-collapse -->
		</div> <!-- /.container -->
	</nav><!-- /navbar -->
	
	<section>
		<ui-view></ui-view>
	</section>
	
	<footer class="container-fluid">
		<hr>
		<p>Copyright &copy; JavaLaby 2016 :)</p>
    </footer>
	
	<script src="//npmcdn.com/angular@latest/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
    
    <script src="//npmcdn.com/angular-ui-router@1.0.0-beta.1/release/angular-ui-router.js"></script>
    
    <script src="js/hello.js" type="text/javascript"></script>
    <script src="js/auth/auth.js" type="text/javascript"></script>
	<script src="js/home/home.js" type="text/javascript"></script>
	<script src="js/message/message.js" type="text/javascript"></script>
	<script src="js/navigation/navigation.js" type="text/javascript"></script>
	<script src="js/auth/auth.js" type="text/javascript"></script>

	
	<script src="//npmcdn.com/show-current-browser-url"></script>
    <script src="//npmcdn.com/d3@3"></script>
    <script src="//npmcdn.com/ui-router-visualizer@2"></script>
	
	

</body>
</html>
