<div class="alert alert-danger" ng-show="$ctrl.error">
	There was a problem logging in. Please try again.
</div>
<div class="col-md-4">
	<form class="form-signin well" role="form" ng-submit="$ctrl.login()">
	
		<h2 class="form-signin-heading">Please sign in</h2>
		
		<div class="form-group">
			<label for="username" class="sr-only">username</label>
			<input type="text" class="form-control" id="username" name="username" ng-model="$ctrl.credentials.username" placeholder="Username" required autofocus>
		</div>
		
		<div class="form-group">
			<label for="password" class="sr-only">Password</label>
			<input type="password" id="password" class="form-control" name="password" ng-model="$ctrl.credentials.password" placeholder="Password" required>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
	 	</div>
	 	
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
	</form>
</div>